@import 'styles/mixins.scss';

.itemCard {
  @include flex($flexDirection: column, $justifyContent: center, $alignItems: auto, $gap: 1rem);

  img {
    object-fit: cover;
  }

  a {
    :first-child {
      @include flex($flexDirection: column, $alignItems: flex-start, $gap: 0);
      @include font($fontWeight: 700);
      background-color: $white;
      width: 100%;
    }

    span {
      @include font($fontSize: small);
    }
  }
}