@import 'styles/mixins.scss';

.inputContainer {

	@include flex($gap: 0.5rem,
		$flexDirection: column,
		$alignItems: flex-start,
		$justifyContent: flex-start,
	);

	>label {
		@include font($fontSize: 1.5rem, $fontWeight: 700);
	}

	>div {
		@include flex($gap: 0);


		>input {
			appearance: none;
			outline: none;
			border: 1px solid $black;
			width: 20rem;
			padding: 1rem;

			:focus {
				border: 1px solid $black;
			}
		}

		>button {
			font-size: 1rem;
			padding: 1.05rem 1.25rem;
			border-left: none;
		}
	}

}