@import 'styles/mixins.scss';

.button {
	@include flex($justifyContent: center, $alignItems: center);
	@include font($fontSize: 1.5rem, $fontWeight: 400, $color: $black);
	@include container($padding: 1rem 2.5rem, $boxShadow: none, $borderColor: $black, $borderRadius: none);
	text-transform: capitalize;
	transition: background-color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;

	&:hover {
		cursor: pointer;
		background-color: $black;
		color: $white;
	}
}