.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    max-width: 30em;
    margin: auto;
    margin-bottom: 2em;
}

.hero>p>span {
    font-weight: bold;
}