@import 'styles/mixins.scss';

.projectWrapper {
	@include flex($flexDirection: column, $alignItems: flex-start);
	margin: 0 0 3rem 2rem;

	>img {
		width: 100%;
		max-height: 40vh;
		object-fit: cover;
	}

	.tagsWrapper {
		@include flex($gap: 0.5rem);
		list-style: none;
	}

	.contentWrapper {
		margin-top: 2rem;
		width: 100% !important;

		li {
			margin-left: 2rem;
		}

		h3 {
			margin-top: 1rem;
		}

		br {
			display: none;
		}

		>div,
		>div>video {
			width: 100% !important;
		}

		video,
		figure {
			margin: 2rem 0 2rem 0;
		}

		video {
			height: fit-content !important;
		}

		figure {
			@include flex($gap: 2rem, $alignItems: flex-start);

			>img {
				width: 75% !important;
			}

			p {
				margin-top: 0.5rem;
			}
		}
	}
}