@import './mixins.scss';

* {
  font-family: $source-sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include font();
}

main {
  min-height: calc(100vh - 19.15rem);
  padding: 2.5vh 5vw;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}