.loadMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  color: rgb(157, 157, 157);
  font-size: larger;
  font-weight: 600;
}

.loadMoreContainer>button:hover {
  cursor: pointer;
  text-decoration: underline;
}