.gallery {
    /*
    border: 2px solid red;
    display: inline-flex;
    flex-wrap: wrap;
    */
    display: flex;
    flex-direction: column;
}

.load {
    height: 5em;
    color: rgb(157, 157, 157);
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.load>span:hover {
    cursor: pointer;
    text-decoration: underline;
}