@import 'styles/mixins.scss';

.navbar {
  @include flex($justifyContent: space-between);
  @include container($padding: 2.5vh 2.5vw, $backgroundColor: $white, $boxShadow: none);
  position: sticky;
  z-index: 10;
  border-bottom: 1px solid $black;
  transition: top 0.3s ease-in-out;

  .logo {
    @include flex();

    >img {
      @include size(8rem, 8rem);
    }

    >span {
      @include font($fontWeight: 600, $fontSize: 2rem);
      width: 45%;
    }
  }

  .navigation {
    @include flex($gap: 2rem);
    @include font($fontWeight: 400, $fontSize: 1.5rem);
  }
}

.logoMobile,
.mobileButton {
  display: none;
}

.navigationMobile {
  display: none;
}