._grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin: 3rem 5rem;
    margin-bottom: 0;
}

._column {
    padding-left: 2rem;
    background-clip: padding-box;
}

._column>div {
    margin-bottom: 2rem;
}