@import 'styles/mixins.scss';

.galleryContainer {
    margin: 0 2.5vw;

    ._grid {
        @include flex($alignItems: flex-start, $gap: 2rem);
    }

    ._column {
        background-clip: padding-box;
    }

    ._column>div {
        margin-bottom: 2rem;
    }

    .loadingStateWrapper {
        margin: 4rem 0;
    }
}