@import 'styles/mixins.scss';

.loadMoreContainer {
	@include flex($justifyContent: center);
	@include size(fit-content, 25vh);

	&>button {
		@include font($fontWeight: 600, $color: $neutralDark20);
		background-color: transparent;
		border: none;
		text-transform: uppercase;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}